 path.dashedLink {
    fill: none;
    stroke: black;
    stroke-width: 1.5px;
    stroke-dasharray: 5, 5;
  }

  path.solidLink {
    fill: none;
    stroke: green;
    /* stroke-width: 2px; */
  }

  circle {
    fill: #ccc;
    stroke: #fff;
    stroke: black;
    stroke-width: 1.5px;
  }

  text {
    fill: #000;
    font: 10px sans-serif;
    pointer-events: none;
  }